<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentacao</title>
    <style>
        * {margin: 0px; padding: 0px;box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
        .titulo{
            width: 100%;
            color: rgb(86, 86, 86);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.3rem;
        }
        .btn-type-route{
            width: 80px;
            height: 40px;
            background-color: rgb(21, 201, 21);
            color: #fff;
            border: none;
            
        }
        ul{
            list-style: none;
        }
        li{
            padding: 5px;
        }

    </style>
</head>
<body>
    <p class="titulo">Fabiana API V 1.0</p>
    <ul>
        <li><button class="btn-type-route">GET</button> documentação  => localhost:3000/docs</li>
        <li><button class="btn-type-route">POST</button> Atualiza os dados da venda de acordo com o pedido  => localhost:3000//updateorderid</li>
        <li><button class="btn-type-route">POST</button> Busca um  pedido de acordo com o seu id  => localhost:3000//getorderid</li>
        <li><button class="btn-type-route">POST</button> Registra uma nova venda (Todos os parâmetros são necessários para a chamada)  => localhost:3000/register</li>
    </ul>
</body>
</html>